.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
    height: 100vh;
}

p{
    font-size: 50px;;
}

.conteiner div{
    margin: 0.1%;
    padding: 2px;
    text-align: center;
    text-overflow: ellipsis;
}

.caja1 {
    flex: 5 1 98%;
    height: 15%;
    background-color: blue;
    font-size: 25px;
    color: white;
    max-width: 100%;
}

.caja2 {
    flex: 1 5 18%;
    height: 70%;
    background-color: red;
    font-size: 25px;
    color: white;
    max-width: 20%;
}
.caja3 {
    flex: 3 3 58%;
    height: 70%;
    background-color: orange;
    font-size: 25px;
    color: white;
    max-width: 60%;
}
.caja4 {
    flex: 1 5 18%;
    height: 70%;
    background-color: violet;
    font-size: 25px;
    color: white;
    max-width: 20%;
}
.caja5 {
    flex: 5 1 98%;
    height: 15%;
    background-color: darkcyan;
    font-size: 25px;
    color: white;
    max-width: 100%;
}

